{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/receipts.css" %}">
</head>
<header>
    <nav>
        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'logout' %}">Logout</a>
            <a href="{% url 'receipt_list' %}">Receipt list</a>
            <a href="{% url 'account_list' %}">Account list</a>
            <a href="{% url 'category_list' %}">Category list</a>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
            <a href="{% url 'create_account' %}">Create Account</a>
            <a href="{% url 'create_category' %}">Create Category</a>
        {% else %}
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

</header>
<body>
    {% block content %}{% endblock content %}
    <footer>
        💵 spent with "love" 🙂
    </footer>
</body>
</html>
