{% extends 'base.html' %}
<!DOCTYPE html>

{% block title %}
    Expense Tracker
{% endblock title %}
{% block content %}

    <main>
        <div>
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>

{% endblock content %}
